@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    font-family: 'Roboto', sans-serif;
    background: url(../../../media/bgnew.jpg) fixed;
    background-size: 100%;
    background-repeat: repeat;
}
@media screen and (min-width: 750px) {
.main{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article ads";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 15% 1fr 20%;
    grid-gap: 10px;
    height: 100%;
    margin: 0;
}
}
@media screen and (max-width: 750px) {
.main{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article ads";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1% 1fr 1%;
    grid-gap: 10px;
    height: 100%;
    margin: 0;
}
}
article {
  padding: 20px;

}
.siteAds{
    padding: 20px;
}
#pageHeader {
  grid-area: header;
}

#mainArticle {
  grid-area: article;
  }
#siteAds {
  grid-area: ads;
  }


#inner-grid {
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 5px;
  height: 100%;
}
#inner-grid > div {

  padding: 8px;
}

.signin{
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 600px;
     height: 100px;
     text-align: center;
}
@media screen and (min-width: 650px) {
.application_list{
    border: solid;
    background: #272125;
    border-radius: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fffff0;
    display: block;
    transition: 0.3s;
}
}
@media screen and (max-width: 650px) {
.application_list{
    border: solid;
    background: #272125;
    border-radius: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #fffff0;
    display: block;
    transition: 0.3s;
}

.application_list h3{
    font-size:12px;
}
.application_list h4{
    font-size:12px;
}
}
.application_list:hover{
    background: #332630;
    color: #f1f1f1;
}

.application_list a{
    color: #fffff0;
}

.application_list a:hover {
    color: #f1f1f1;
}

.main_detail{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article ads";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 15% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
.close_app_btn {
  border: none;
  float:right;
  background: transparent;
  height: 100%;
  width: 100%;
  color:white;
}

.close_app_btn:hover{
    opacity: .5;
}
@media screen and (max-width:750px){
.icon{
    width: 100%;
    height: 50px;
}
}
@media screen and (min-width:750px){
.icon{
    width: 50%;
    height: 50%;
}
}

.icon-tablet{
    margin:0 auto;
    display: block;
    width: 100px;
    height: 100px;

}

.modal-body, .modal-header{
    color: black;
}

.show_details {
  border: none;
  float:right;
  background: transparent;
  height: 100%;
  width: 100%;
  color:white;
}

.show_details:hover{
    opacity: .5;
}

.create-form{
    padding: 16px;
    border-radius:7px;
    border:0px;
    display: block;
    margin: 15px;
    width: 300px;
    color:#272125;
    font-size:18px;
    height: 54px;
}

.create-form:focus{
    outline-color: rgba(0,0,0,0);
    background: rgba(255,255,255,.95);
    color: #e74c3c;
}
@media screen and (min-width:750px){
    .text-left{
    align-text: left;
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 1px black;
    border: solid;
    border-radius: 1px;
}
}
@media screen and (max-width:750px){
    .text-left{
    align-text: left;
    font-size: 10px;
    color: black;
}
}

